<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Driver={MySQL ODBC 5.3 ANSI Driver};Server=localhost;Database=apartmentmanagement;User=root;Password=Theden123@@@;SSLMODE=DISABLED;"
			 providerName="System.Data.Odbc" />
	</connectionStrings>
</configuration>
