<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Driver={MySQL ODBC 8.0 Unicode Driver};Server=localhost;Database=apartmentmanagement;User=root;Password=Theden123@@@;SSL Mode=DISABLED;Charset=utf8mb4;"
			 providerName="System.Data.Odbc" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
